*~
*.pyc
*.pdf
*.rpy
*.odb
*.msg
*.com
*.prt
*.sim
*.sta
*.rpy*
*.log
*.pckl

tests/*
doc/example_code/models/workdir/*
doc/example_code/models/tutu*.txt
doc/_build/*
doc/sandbox/awa/workdir/*

!/doc/example_code/models/workdir/*.pckl
!/doc/example_code/models/*.pckl


